<!-- Index Page Section -->
<div class="main">
  <div class="main__container">
    <div class="main__content">
      <h1>THE PHOTO GALLERY</h1>
      <p>See what makes our Gallery different.</p>
      <button class="main__btn"><a href="/viewpost">Get Started</a></button>
    </div>
  </div>
</div>

<!-- Footer Section -->
{{> footers}}